<mat-toolbar color="primary" class="navbar">
     <div class="header-left">
            <button mat-button >
                    <mat-icon  aria-hidden="false" aria-label="Example thumbs up SVG icon">list</mat-icon>
                    
             </button>
             
         <span class="brand-name text-color-brand">PROPEL-i</span>
         
         <button mat-button >
                <mat-icon  aria-hidden="false" aria-label="Example thumbs up SVG icon">search</mat-icon>
                <mat-form-field>
                        <input matInput  placeholder="search">
                 </mat-form-field>
         </button>
         
     </div>
     <div class="header-right">
            <button mat-button class="border-right" >
                <mat-icon  aria-hidden="false" aria-label="Example thumbs up SVG icon" >notification_important</mat-icon>
            </button>
        
         
         <button mat-button >
                Anuj Gupta
                <img class="jpg-icon"  src="../../assets/profile.jpg" 
                   class="profile-rounded">
         </button>
        
         
     </div>

</mat-toolbar>