.button-divider {
  display:flex;
  justify-content: space-between;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 100px;
}

.border-color {
    border: 1px solid #27ae60;
    padding: 0 15px;
    line-height: 34px;
    border-radius:25px;
}

.raised-custome {
 background-color:#27ae60 ;
 border-radius:25px;
 color:#FFF;
}

.shadow-top {
    box-shadow: 0 2px 5px 0 rgba(0.3, 0, 0, 0);
}
